/* Tomorrow Night Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* First changed theme - http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Second changed theme - this file */
.tomorrow-comment, pre .comment, pre .title {
    color: #969896 !important;
}

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
    color: #cc6666 !important;
}

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
    color: #de935f !important;
}

.tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
    color: #f0c674 !important;
}

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
    color: #b5bd68 !important;
}

.tomorrow-aqua, pre .css .hexcolor {
    color: #8abeb7 !important;
}

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
    color: #81a2be !important;
}

.tomorrow-purple, pre .keyword, pre .javascript .function {
    color: #b294bb !important;
}

pre code {
    display: block !important;
    background: #1d1f21 !important;
    color: #c5c8c6 !important;
    font-family: Menlo, Monaco, Consolas, monospace !important;
    line-height: 1.5 !important;
    border: 1px solid #ccc !important;
    padding: 10px !important;
}
