extends ./write-post

block submitText
    span 글 수정

append js
    script(src='/js/enableWaitButton.min.js')
    script(src='/js/disableWaitButton.min.js')
    script(src='/js/fetchPostToFix.min.js')
    script(src='/js/fetchUpdatePost.min.js')

    script.
        const postId = #{postId};

        fetchPostToFix(postId, null);

        postContainer.addEventListener('submit', e => {
            e.preventDefault();

            enableWaitButton(postSubmit, postSubmitText);

            fetchUpdatePost(() => {
                disableWaitButton(postSubmit, postSubmitText, '글 수정');
            });
        });
