extends ./write-post

block submitText
    -
        i18n = __('community').fixPost;

    span #{i18n.submitText}

append js
    script(src='/js/enableWaitButton.min.js')
    script(src='/js/disableWaitButton.min.js')
    script(src='/js/fetchPostToFix.min.js')
    script(src='/js/fetchUpdatePost.min.js')

    script.
        fetchPostToFix(postId, '');

        postContainer.addEventListener('submit', e => {
            e.preventDefault();

            enableWaitButton(postSubmit, postSubmitText);

            fetchUpdatePost(() => {
                disableWaitButton(postSubmit, postSubmitText, '글 수정');
            });
        });
