extends ../layout

block html
    -
        const i18n = __('community').index;

    .d-flex.align-items-center
        div
            h5 #{i18n.introducingCommunity.title}
            p
                | #{i18n.introducingCommunity.content}
