extends ./write-post

block submitText
    span 글 작성

append js
    script(src='/js/enableWaitButton.min.js')
    script(src='/js/disableWaitButton.min.js')
    script(src='/js/fetchNewPost.min.js')

    script.
        postContainer.addEventListener('submit', e => {
            e.preventDefault();

            enableWaitButton(postSubmit, postSubmitText);

            fetchNewPost(() => {
                disableWaitButton(postSubmit, postSubmitText, '글 작성');
            });
        });
