extends ./write-post

block submitText
    -
        i18n = __('community').newPost
    span #{i18n.submitText}

append js
    script(src='/js/enableWaitButton.min.js')
    script(src='/js/disableWaitButton.min.js')
    script(src='/js/fetchNewPost.min.js')

    script.
        postContainer.addEventListener('submit', e => {
            e.preventDefault();

            enableWaitButton(postSubmit, postSubmitText);

            fetchNewPost(() => {
                disableWaitButton(postSubmit, postSubmitText, '글 작성');
            });
        });
