extends ../layout

block html
    .d-flex.flex-row
        div
            i.material-icons account_box
            span#post-nickname

        div
            i.material-icons access_time
            span#post-date

    #post-content

    // comment
    if isSignedIn
        #quill-toolbar
        #quill-editor

block js
    script(src='/js/fetchPost.min.js')

    script.
        const postNickname = document.getElementById('post-nickname');
        const postDate = document.getElementById('post-date');
        const postContent = document.getElementById('post-content');

        fetchPost(#{postId}, null);

    // comment
    if isSignedIn
        script.
            let quill = new Quill('#quill-editor', {
                modules: {
                    toolbar: '#quill-toolbar'
                }
            });
