extends ../layout

block css
    link(href='https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.snow.min.css' rel='stylesheet')
    link(href='/css/quill-custom.min.css' rel='stylesheet')

block html
    if isSignedIn
        form#post-container.d-flex.flex-column.align-items-center
            .d-flex.flex-column.input-container
                input#post-title(type='text' placeholder='제목' required)

                div
                    input#post-password(type='password' placeholder='비밀번호')
                    include ../includes/passwordToggleButton

            div#editor-container
                #editor

            div.text-center: button#post-submit.submit: block submitText

block js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.min.js')
    script(src='/js/limitInput.min.js')
    script(src='/js/togglePassword.min.js')

    script.
        const postId = #{postId};

    if isSignedIn
        script.
            const postContainer = document.getElementById('post-container');
            const postTitle = document.getElementById('post-title');
            const postPassword = document.getElementById('post-password');
            const passwordToggle = document.getElementById('password-toggle');
            const passwordToggleIcon = passwordToggle.getElementsByTagName('i')[0];
            const postSubmit = document.getElementById('post-submit');
            const postSubmitText = postSubmit.getElementsByTagName('span')[0];

            const quill = new Quill('#editor', {
                placeholder: '글 내용',
                theme: 'snow'
            });

            limitInput(postPassword, /[^\w !-\/:-@\[-`{-~]/g);
            togglePassword(passwordToggle, passwordToggleIcon, postPassword);
    else
        script.
            vex.dialog.alert({
                unsafeMessage: '로그인되지 않았습니다\n로그인 페이지로 이동합니다',
                callback: () => {
                    location.href = 'https://accounts.bhsjp.kro.kr/sign-in'
                }
            });
