#comments-container
  font-size: 13px
  align-items: center

.comment-form
  position: relative

.comments
  border: 1.5px dashed #141414
  border-radius: 10px
  padding: 5px
  margin: 10px

.comments:hover + .edit-comment,
.edit-comment:hover
  display: block

.private-comment
  color: #555555
  border: 1.5px dashed #555555 !important

.edit-comment
  position: absolute
  top: 20px
  right: 20px
  background-color: transparent
  box-shadow: 0 0 5px 5px #dddddd
  display: none

  > button
    font-size: 10px
    border: 1px solid #141414
    border-radius: 5px
