$font-color: #aaaaaa
$font-size: 24px
$background-color: #181818

input
  background-color: $background-color
  border: none
  font-size: $font-size
  color: $font-color
  padding: 5px

  &::placeholder
    opacity: .3
    color: $font-color

  [type=submit]
    background-color: $background-color
    border: none

.password-toggle
  background-color: transparent
  color: $font-color
  font-size: $font-size
  border: none
  margin-left: -40px

  &:focus
    outline: none
