.post-items
  font-size: 25px
  color: #444444

  > i
    color: #dc3545

  &:visited
    color: #606060

    > i
      color: #dc7383

  &:hover
    text-decoration: none
    color: #222222

    > i
      color: #dc0007
