extends ../layout

block html
    div.d-flex.align-items-center.justify-content-center.flex-column
        h5 이 에러는 여러분이 존재하지 않는 페이지에 접근하고자 하였을 때 발생합니다
        h5 주소를 다시 한 번 확인하시어 원하시는 곳에 갈 수 있도록 해주십시오
