extends ../layout

block html
    -
        const i18n = __('accounts').findId;

    div #{i18n.informationMessage}
    form#find-id-form.d-flex.flex-column.input-container
        input#email(type='email' placeholder=i18n.emailPlaceholder required)
        button#submit.submit: span #{i18n.submit}

append js
    script(src='/js/enableWaitButton.min.js')
    script(src='/js/disableWaitButton.min.js')
    script(src='/js/fetchFindId.min.js')

    script.
        const findIdForm = document.getElementById('find-id-form');
        const email = document.getElementById('email');
        const submit = document.getElementById('submit');
        const submitText = submit.getElementsByTagName('span')[0];

        findIdForm.addEventListener('submit', e => {
            e.preventDefault();

            enableWaitButton(submit, submitText);

            fetchFindId(email.value, () => {
                disableWaitButton(submit, submitText, '#{i18n.submit}')
            });
        });
