extends ../layout

block html
    div 가입 시 입력하신 아이디와 이메일 주소를 입력해주세요
    form#find-password-form.d-flex.flex-column.input-container
        input#id(placeholder='아이디')
        input#email(placeholder='이메일 주소')
        button#submit.submit: span 메일 발송

append js
    script(src='/js/enableWaitButton.min.js')
    script(src='/js/disableWaitButton.min.js')
    script(src='/js/fetchFindPassword.min.js')
    script.
        const findPasswordForm = document.getElementById('find-password-form');
        const email = document.getElementById('email');
        const submit = document.getElementById('submit');
        const submitText = submit.getElementsByTagName('span')[0];

        findPasswordForm.addEventListener('submit', e => {
            e.preventDefault();

            enableWaitButton(submit, submitText);

            fetchFindPassword(id.value, email.value, () => {
                disableWaitButton(submit, submitText, '메일 발송');
            });
        });
