extends ../layout

block html
    -
        const i18n = __('accounts').signIn;
        const errorMessages = __('errorMessages');

    form#account-form-container.d-flex.flex-column.input-container
        input#account-id(type='text' placeholder=i18n.usernamePlaceholder name='id' autocomplete='off' minlength='1' maxlength='10' required)
        div
            input#account-password(type='password' placeholder=i18n.passwordPlaceholder name='password' autocomplete='off' minlength='4' required)
            include ../includes/passwordToggleButton
        div.text-center: button#account-submit.submit: span #{i18n.submit}

append js
    script(src='/js/togglePassword.min.js')
    script(src='/js/limitInput.min.js')
    script(src='/js/fetchSignIn.min.js')
    script(src='/js/enableWaitButton.min.js')
    script(src='/js/disableWaitButton.min.js')
    script.
        const accountId = document.getElementById('account-id');
        const accountPassword = document.getElementById('account-password');
        const passwordToggle = document.getElementsByClassName('password-toggle')[0];
        const passwordToggleIcon = passwordToggle.getElementsByTagName('i')[0];
        const accountFormContainer = document.getElementById('account-form-container');
        const accountSubmit = document.getElementById('account-submit');
        const accountSubmitText = accountSubmit.getElementsByTagName('span')[0];

        limitInput(accountId, /[^\w]/g);
        limitInput(accountPassword, /[^\w !-\/:-@\[-`{-~]/g);

        togglePassword(passwordToggle, passwordToggleIcon, accountPassword);

        accountFormContainer.addEventListener('submit', e => {
            e.preventDefault();

            enableWaitButton(accountSubmit, accountSubmitText);

            fetchSignIn(() => {
                disableWaitButton(accountSubmit, accountSubmitText, '#{i18n.submit}');
            });
        });
