extends ../layout

append js
    script(src='/js/togglePassword.min.js')
    script(src='/js/limitInput.min.js')
    script(src='/js/fetchSignUp.min.js')
    script(src='/js/enableWaitButton.min.js')
    script(src='/js/disableWaitButton.min.js')
    script.
        const accountId = document.getElementById('account-id');
        const accountPassword = document.getElementById('account-password');
        const accountNickname = document.getElementById('account-nickname');
        const accountEmail = document.getElementById('account-email');
        const passwordToggle = document.getElementsByClassName('password-toggle')[0];
        const passwordToggleIcon = passwordToggle.getElementsByTagName('i')[0];
        const accountFormContainer = document.getElementById('account-form-container');
        const accountSubmit = document.getElementById('account-submit');
        const accountSubmitText = accountSubmit.getElementsByTagName('span')[0];

        limitInput(accountId, /[^\w]/g);
        limitInput(accountPassword, /[^\w !-\/:-@\[-`{-~]/g);
        togglePassword(passwordToggle, passwordToggleIcon, accountPassword);
        accountFormContainer.addEventListener('submit', e => {
            e.preventDefault();

            enableWaitButton(accountSubmit, accountSubmitText);

            fetchSignUp(() => {
                disableWaitButton(accountSubmit, accountSubmitText, '회원가입');
            });
        });

block html
    form#account-form-container.d-flex.flex-column.input-container
        input#account-id.account-form(type='text' placeholder='아이디' name='id' autocomplete='off' minlength='1' maxlength='10' title='1자리에서 10자리의 영문 혹은 숫자를 입력해주세요' required)
        div
            input#account-password.account-form(type='password' placeholder='비밀번호' name='password' autocomplete='off' minlength='4' title='최소 4글자의 영문 혹은 숫자, 특수문자를 입력해주세요' required)
            include ../includes/passwordToggleButton
        div: input#account-nickname.account-form(type='text' placeholder='닉네임' name='nickname' maxlength='10' autocomplete='off' required)
        div: input#account-email.account-form(type='email' placeholder='이메일' name='email' maxlength='320' autocomplete='on' required)
        div.text-center: button#account-submit.submit: span 회원가입
