extends ../layout

block html
    -
        const i18n = __('accounts').verificationSuccess;

    .d-flex.flex-row.align-items-center
        div
            h2 BHSJP
        div
            each i in i18n.informationMessages
                h5= i

            h5
                | #{i18n.signInMessage.front}
                a(href='https://accounts.bhsjp.kro.kr/sign-in') #{i18n.signInMessage.here}
                | #{i18n.signInMessage.back}
