extends ../layout

block html
    -
        const i18n = __('accounts').verificationFailure;

    .d-flex.flex-row.align-items-center
        div
            h2 BHSJP
        div
            each i in i18n.informationMessages
                h5= i
