extends ../layout

block html
    .d-flex.flex-row.align-items-center
        div
            h2 BHSJP
        div
            h5 인증에 성공했습니다
            h5 BHSJP의 회원이 되신 것을 진심으로 축하드립니다
            h5
                a(href='https://accounts.bhsjp.kro.kr/sign-in') 여기
                | 를 눌러 로그인 해주세요
