extends ../layout

block css
    link(href='/css/express-json.min.css' rel='stylesheet')
    link(href='/css/code.min.css' rel='stylesheet')
    style.

block html
    pre
        -
            let temp = {};
            const i18n = __('introduce').developer;

            const accountsLabel = i18n.accounts.label;
            const projectsLabel = i18n.projects.label;
            const prizesLabel = i18n.prizes.label;

            temp[i18n.name.label] = i18n.name.data;

            temp[accountsLabel] = {};
            temp[accountsLabel][i18n.accounts.github] = 'sudo0272';
            temp[accountsLabel][i18n.accounts.twitter] = '@uFAbe4PoKZ3SLAQ';
            temp[accountsLabel][i18n.accounts.facebook] = '100018310620315';

            temp[i18n.age.label] = 18;

            temp[projectsLabel] = {};
            temp[projectsLabel][i18n.projects.beforeUsingGithub.label] = i18n.projects.beforeUsingGithub.data;
            temp[projectsLabel][i18n.projects.afterUsingGitbub.label] = [
                'ArgumentParserCPP',
                'bhsjp',
                'BullsAndCows',
                'Corean',
                'FilePasswordFinder',
                'Matrix',
                'MirrorModeChrome',
                'PreinstalledRemover',
                'Renamer',
                'SantaGambling',
                'showfetch',
                'StackCalculator',
                'Typer',
                'WhoAreYou'
            ];

            const nationalPublicDataUtilizationCompetitionOfHighSchoolStudents2019Label = i18n.prizes['2019NationalPublicDataUtilizationCompetitionOfHighSchoolStudents'].label;

            temp[prizesLabel] = {};
            temp[prizesLabel][nationalPublicDataUtilizationCompetitionOfHighSchoolStudents2019Label] = {};
            temp[prizesLabel][nationalPublicDataUtilizationCompetitionOfHighSchoolStudents2019Label][i18n.prizes['2019NationalPublicDataUtilizationCompetitionOfHighSchoolStudents'].team.label] = 'CBDS';

            temp[prizesLabel][nationalPublicDataUtilizationCompetitionOfHighSchoolStudents2019Label][i18n.prizes['2019NationalPublicDataUtilizationCompetitionOfHighSchoolStudents'].rank.label] = 2;

            temp[i18n.mostFavoriteLicense.label] = 'MIT';

            let stringifiedTemp = JSON.stringify(temp, null, 4);
        code.language-json= stringifiedTemp

append js
    script.
        document.addEventListener('DOMContentLoaded', () => {
            const highlightTargets = document.getElementsByTagName('code');

            for (let i = 0; i < highlightTargets.length; i++) {
                hljs.highlightBlock(highlightTargets[i]);
            }
        });
