extends ../layout

block css
    link(href='/css/express-json.min.css' rel='stylesheet')
    link(href='/css/code.min.css' rel='stylesheet')
    style.

block html
    pre
        -
            let temp = JSON.stringify({
                '이름': {
                    '영문': 'Hong SeJung',
                    '한글': '홍세정'
                },

                '계정': {
                    github: 'sudo0272',
                    twitter: '@uFAbe4PoKZ3SLAQ',
                    facebook: '100018310620315'
                },

                '나이': 18,

                '프로젝트': {
                    'github 전': '날아감',
                    'github 후': [
                        'ArgumentParserCPP',
                        'bhsjp',
                        'BullsAndCows',
                        'Corean',
                        'FilePasswordFinder',
                        'Matrix',
                        'MirrorModeChrome',
                        'PreinstalledRemover',
                        'Renamer',
                        'SantaGambling',
                        'showfetch',
                        'StackCalculator',
                        'Typer',
                        'WhoAreYou'
                    ]
                },

                '상': {
                    "2019 전국 고등학생 공공데이터 활용 경진대회": {
                        '팀': "CBDS",
                        '주제': "농산물 가격 안정화 정책",
                        '랭크': "2"
                    }
                },

                '가장 좋아하는 라이선스': 'MIT'
            }, null, 4);
        code.language-json= temp

append js
    script.
        document.addEventListener('DOMContentLoaded', () => {
            const highlightTargets = document.getElementsByTagName('code');

            for (let i = 0; i < highlightTargets.length; i++) {
                hljs.highlightBlock(highlightTargets[i]);
            }
        });
