extends ../layout

block css
    link(href='/css/express-json.min.css' rel='stylesheet')
    link(href='/css/code.min.css' rel='stylesheet')
    style.

block html
    pre
        -
            let temp = JSON.stringify({
                name: {
                    english: 'Hong SeJung',
                    korean: '홍세정'
                },

                accounts: {
                    github: 'sudo0272',
                    twitter: '@uFAbe4PoKZ3SLAQ',
                    facebook: '100018310620315'
                },

                age: 18,

                projects: {
                    whenIWasYoung: 'Gone after reinstalling OS...',
                    onGitHub: [
                        'ArgumentParserCPP',
                        'bhsjp',
                        'BullsAndCows',
                        'Corean',
                        'FilePasswordFinder',
                        'Matrix',
                        'MirrorModeChrome',
                        'PreinstalledRemover',
                        'Renamer',
                        'SantaGambling',
                        'showfetch',
                        'StackCalculator',
                        'Typer',
                        'WhoAreYou'
                    ]
                },

                prizes: {
                    "2019 전국 고등학생 공공데이터 활용 경진대회": {
                        team: "CBDS",
                        topic: "농산물 가격 안정화 정책",
                        rank: "2"
                    }
                },

                favouriteLicense: 'MIT'
            }, null, 4);
        code.language-json= temp

block js
    script.
        document.addEventListener('DOMContentLoaded', () => {
            const highlightTargets = document.getElementsByTagName('code');

            for (let i = 0; i < highlightTargets.length; i++) {
                hljs.highlightBlock(highlightTargets[i]);
            }
        });
