extends ../layout

block html
    -
        console.log(__('introduce'));
        const i18n = __('introduce').project;
    div
        div
            h5 #{i18n.meaning.label}
            p
                | #{i18n.meaning.data}

        div
            h5 #{i18n.direction.label}
            p
                | #{i18n.direction.data}
