extends ../layout

block html
    -
        const i18n = __('introduce').project;
    div
        div
            h5 #{i18n.meaning.title}
            p
                | #{i18n.meaning.data}

        div
            h5 #{i18n.direction.title}
            p
                | #{i18n.direction.data}
