extends ../layout

block html
    div
        div
            h5 bhsjp의 뜻
            p
                | bhsjp는 `By Hong SeJung Project`의 약자입니다

        div
            h5 프로젝트의 진행 방향
            p
                | 이 프로젝트는 점차 커뮤니티의 기능도 가지게 될 것이며, 간단히 사용할 수 있는 편리한 온라인 툴을 제공하는 사이트가 될 것입니다
